html, body {
  font-family: 'Lato', sans-serif;
  background-color:azure;
}

.pokemon-list {
  margin-top: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon-button {
    border: none;
    width: 200px;
    height: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: cornflowerblue;
    color: black;
    text-transform: capitalize;
  }

.modal-height {
  margin-bottom: 0;
}

.pokemon-img {
  width: 50%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.modal-img {
  width: 50%;
}

.modal-body {
  text-align: center;
  text-transform: capitalize;
}

.modal-header {
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
}